table {
  width: 90%;
  // background-color: #fff;
}

.textStyle {
  color: #000;
}

.container {
  height: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
