<div class="container">
  <div class="buttonContainer">
    <input
      style="display: none"
      type="file"
      (change)="onFileSelected($event)"
      #fileInput
    />
    <button mat-button color="primary" (click)="fileInput.click()">
      Upload
    </button>
  </div>
  <div class="subcontainer">
    <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" />

    <!-- <mat-card class="card">
      <mat-card-content
        ><img mat-card-image *ngIf="localUrl" src="localUrl" alt="Photo" />
      </mat-card-content>
    </mat-card> -->
  </div>
</div>
