.container {
    background-color: lightgrey;
    height: 200%;
}

.subcontainer {
    padding: 50px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
}