.container {
  background-color: lightgrey;
  height: 200%;
}

.subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
}
